{
     "plugins": ["@shopify/prettier-plugin-liquid"],
     "arrowParens": "always",
     "endOfLine": "auto",
     "tabWidth": 4,
     "singleQuote": true,
     "printWidth": 150,
     "jsxSingleQuote": true
}
